.hero {
  width: 100%;
  height: 720px;
  margin-bottom: 12rem;
  &__box {
    width: 100%;
    position: relative;
  }
  &__image {
    position: relative;
    &--bg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    &--fg {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
  }
  &__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 60%;
    margin-left: 8rem;
    margin-top: 25rem;
    color: $b-color-light;
    &--category {
      text-transform: uppercase;
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    &--heading {
      font-size: $display-font-size;
      margin-bottom: 1.8rem;
      line-height: $display-line-height;
    }
    &--author {
      font-size: $txt1-font-size;
      margin-bottom: $txt1-line-height;
    }
    &--excerpt {
      font-size: $txt1-font-size;
      margin-bottom: 3rem;
      line-height: $txt1-line-height;
    }
  }
}
