.bold {
  font-weight: bold;
}

.txt-yellow {
  color: #ffd050;
}

.txt-purple {
  color: #592ea9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  overflow-x: hidden;
}

body {
  font-family: "Sen", sans-serif;
}

.primary-heading {
  font-size: 3.7rem;
  color: #232536;
  margin-bottom: 2.5rem;
}

.tertiary-heading {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  font-weight: lighter;
}

.secondary-heading {
  font-size: 3rem;
  color: #232536;
  line-height: 3.5rem;
  margin-bottom: 2.5rem;
}

.navbar {
  width: 100%;
  height: 8rem;
  background-color: #232536;
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar__logo {
  margin-left: 8.3rem;
}
.navbar__logo--bracket {
  font-size: 3.5rem;
  font-weight: bolder;
}
.navbar__logo--text {
  font-size: 2.8rem;
  font-weight: bold;
}
.navbar__menu {
  margin-left: auto;
}
.navbar__list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
.navbar__list--link {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6rem;
}
.navbar__button {
  margin-left: 4rem;
}
.navbar__button--toggle {
  margin-right: 10rem;
  padding: 1.6rem 4.8rem;
  background-color: #ffffff;
  color: #232536;
  font-weight: bold;
  font-size: 1.8rem;
  letter-spacing: 0;
}

.hero {
  width: 100%;
  height: 720px;
  margin-bottom: 12rem;
}
.hero__box {
  width: 100%;
  position: relative;
}
.hero__image {
  position: relative;
}
.hero__image--bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hero__image--fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
.hero__info {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 60%;
  margin-left: 8rem;
  margin-top: 25rem;
  color: #ffffff;
}
.hero__info--category {
  font-variant: small-caps;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.hero__info--heading {
  font-size: 5.5rem;
  margin-bottom: 1.8rem;
  line-height: 5.5rem;
}
.hero__info--author {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.hero__info--excerpt {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  line-height: 3rem;
}
.hero__info--button {
  padding: 1.6rem 4.8rem;
  background-color: #ffd050;
  color: #232536;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  cursor: pointer;
}

.posts {
  width: 100%;
  display: flex;
  margin-bottom: 12rem;
}

.featured-posts {
  width: 50%;
}

.all-posts {
  width: 50%;
}
.all-posts__header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.all-posts__view--all {
  margin-bottom: 2.5rem;
  text-decoration: none;
  color: #592ea9;
}
.all-posts__links {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 2rem 12rem 2rem 3rem;
}
.all-posts__links:hover {
  background-color: #fbf6ea;
}

.post {
  padding: 1rem 5rem;
}
.post__image {
  width: 100%;
  margin-bottom: 4rem;
}
.post__excerpt {
  color: #6d6e76;
  font-size: 1.3rem;
  margin-bottom: 3.5rem;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__background {
  display: flex;
}
.about__background--white {
  height: 2rem;
  flex: 2;
  background-color: #ffffff;
}
.about__background--yellow {
  flex: 8;
  height: 2rem;
  background-color: #ffd050;
}
.about__background--purple {
  flex: 2;
  height: 2rem;
  background-color: #592ea9;
}
.about__info {
  background-color: #f4f0f8;
  display: flex;
}
.about__us {
  flex: 1;
  padding: 10rem 8rem;
}
.about__us--secondary-heading {
  color: #232536;
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.about__us--primary-heading {
  color: #232536;
  font-size: 3.6rem;
  line-height: 3.5rem;
  margin-bottom: 2rem;
  letter-spacing: -1.5px;
}
.about__us--excerpt {
  color: #6d6e76;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}
.about__us--link {
  text-decoration: none;
  font-weight: bold;
  color: #592ea9;
}
.about__our-mission {
  flex: 1;
  padding: 10rem 8rem;
}
.about__our-mission--primary-heading {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.button-yellow {
  padding: 1.5rem 4.5rem;
  background-color: #ffd050;
  color: #232536;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: relative;
}

.circle__img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 80%;
  transform: translate(0, -50%);
  opacity: 0.7;
  animation: easeInFromLeft 1s ease-in;
}

.subtract-circle__img {
  position: absolute;
  top: 0;
  right: 0;
  height: 40%;
  transform: translate(0%, 0%);
  opacity: 0.7;
  animation: easeInFromRight 1s ease-in;
}

.triangle__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  transform: translate(0%, 0%);
  opacity: 0.7;
  animation: easeInFromBottomRight 1s ease-in;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  transform: translate(-50%, -50%);
  position: relative;
  animation: easeInCenter 1s ease-in;
}
.login__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}
.login__form {
  width: 100%;
  height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form__group {
  display: flex;
  flex-direction: column;
}
.form__label {
  color: rgba(255, 255, 255, 0.5);
  padding: 8px 1px;
  opacity: 1;
}
.form__input {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 0.5);
  padding: 5px 1px;
}
.form__input::placeholder {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
.form__input:focus {
  border-bottom-color: #ffffff;
}
.form__button {
  background-color: #4044ed;
  color: #ffffff;
  width: 100%;
  border: none;
  padding: 10px 1px;
  cursor: pointer;
}

@media (max-width: 640px) {
  .circle__img {
    height: 80%;
  }
  .subtract-circle__img {
    height: 35%;
  }
  .triangle__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
  }
}
@media (max-width: 480px) {
  .circle__img {
    height: 70%;
  }
  .subtract-circle__img {
    height: 25%;
  }
  .triangle__img {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25%;
  }
  .login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}
@keyframes easeInFromLeft {
  0% {
    top: 50%;
    left: -6px;
    opacity: 0.5;
  }
  100% {
    top: 50%;
    left: 0;
    opacity: 0.7;
  }
}
@keyframes easeInFromRight {
  0% {
    top: -10px;
    right: -10px;
    opacity: 0.5;
  }
  100% {
    top: 0;
    right: 0;
    opacity: 0.7;
  }
}
@keyframes easeInFromBottomRight {
  0% {
    bottom: -10px;
    right: -10px;
    opacity: 0.5;
  }
  100% {
    bottom: 0;
    right: 0;
    opacity: 0.7;
  }
}
@keyframes easeInCenter {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.register-container {
  height: 100vh;
  width: 100vw;
  background-color: #e5e5e5;
  display: flex;
}

.login-image {
  width: 60%;
  position: relative;
}
.login-image__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-30%);
  width: 80%;
}

.login-form {
  width: 40%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-form__heading {
  font-size: 16px;
  font-weight: bold;
  color: #1a1a1a;
}
.login-form__login-link {
  font-size: 16px;
  color: #000000;
}
.login-form__login-link a:link, .login-form__login-link a:visited, .login-form__login-link a:active {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.login-form__social-link {
  display: flex;
  gap: 5px;
  list-style: none;
}
.login-form__social-link li a {
  text-decoration: none;
  color: #656ed3;
}

.register-form {
  width: 80%;
}
.register-form__group {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}
.register-form__label {
  font-size: 16px;
  color: #000000;
}
.register-form__input {
  border: 1px solid #656ed3;
  height: 35px;
  border-radius: 50px;
  padding: 5px 5px;
  font-size: 16px;
  outline: none;
}
.register-form__input:focus {
  border: 1px solid #656ed3;
}
.register-form__button {
  border: none;
  background-color: #656ed3;
  border-radius: 50px;
  padding: 10px 0;
  color: #ffffff;
  margin: 10px 0;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .login-image {
    width: 60%;
  }
  .login-form {
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .login-form__heading {
    font-size: 16px;
    font-weight: bold;
    color: #1a1a1a;
  }
  .login-form__login-link {
    font-size: 16px;
    color: #000000;
  }
  .login-form__login-link a:link, .login-form__login-link a:visited, .login-form__login-link a:active {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
  }
  .login-form__social-link {
    display: flex;
    gap: 5px;
    list-style: none;
  }
  .login-form__social-link li a {
    text-decoration: none;
    color: #656ed3;
  }
  .register-form {
    width: 80%;
  }
  .register-form__group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .register-form__label {
    font-size: 16px;
    color: #000000;
  }
  .register-form__input {
    border: 1px solid #656ed3;
    height: 35px;
    border-radius: 50px;
    padding: 5px 5px;
    font-size: 16px;
    outline: none;
  }
  .register-form__input:focus {
    border: 1px solid #656ed3;
  }
  .register-form__button {
    border: none;
    background-color: #656ed3;
    border-radius: 50px;
    padding: 10px 0;
    color: #ffffff;
    margin: 10px 0;
    cursor: pointer;
  }
}
@media (max-width: 480px) {
  .login-image {
    display: none;
  }
  .login-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .register-form {
    width: 80%;
  }
  .register-form__group {
    margin: 6px auto;
  }
  .register-form__label {
    font-size: 12px;
  }
  .register-form__input {
    height: 28px;
    padding: 3px 3px;
    font-size: 12px;
  }
  .register-form__button {
    padding: 8px 0;
    margin: 6px 0;
  }
  .login-form__heading {
    font-size: 12px;
  }
  .login-form__login-link {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
