body {
  font-family: $b-font-family;
}

.primary-heading {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  color: $b-color-black;
  margin-bottom: 2.5rem;
}
.tertiary-heading {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
  font-weight: lighter;
}
.secondary-heading {
  font-size: 3rem;
  color: $b-color-black;
  line-height: 3.5rem;
  margin-bottom: 2.5rem;
}
